app/age_classifier_mask-model.pkl
app/age_classifier_no_mask-model.pkl
app/gender_mask-model.pkl
app/gender_no_mask-model.pkl
app/mask_detector-model.pkl 
app/updated_age_masked-model.pkl
app/updated_age_no_mask-model.pkl
app/updated_gender_masked-model.pkl
app/updated_gender_no_mask-model.pkl
app/all_inferemnce.py
app/celeb.pkl
app/deepfashion2.pkl
app/emotions.pkl
app/gender+ethnicity.pkl


